<html>
<body>

  <p><b>Information:</b></p>

  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;" id="failureISBN">
    <strong>Invalid ISBN.</strong> The requested ISBN is... Invalid!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;" id="failureOCLC">
    <strong>Invalid OCLC.</strong> The requested OCLC is... Invalid!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<script>
  function displayResult(x) {
    document.getElementById("p").value = "";
    document.getElementById("p").innerHTML = x;
  }

  displayResult(Title);
  displayResult(Title2);
  displayResult(Author);
  displayResult(oclc);
  displayResult(isbn);
  displayResult(link);

</script>

</body>
</html>
